.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-container{

  position: relative;
}

.search-input {
  position: relative;
  flex: 1;
  padding: 0.75rem 1rem;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 2rem;
  width: 400px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
  border: 1px solid rgb(207, 207, 207);
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  position: absolute;
  right: 0;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.search-icon{
  width: 50px;
}


@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
}
